Repository oscarbenjamin/protosym: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, check-toml, check-yaml

ruff:
  name: Run ruff on Python files
  entry: ruff --fix
  language: python

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

lint: add someruff checks
  pyproject.toml
  src/protosym/core/atom.py
  src/protosym/core/differentiate.py
  src/protosym/core/evaluate.py
  src/protosym/core/sym.py
  src/protosym/core/tree.py
  src/protosym/simplecas/expr.py
  src/protosym/simplecas/lambdification.py
  src/protosym/simplecas/matrix.py
  tests/utils.py
Due: ruff, black, check-toml

lint: use isort
  benchmarks/test_differentiation.py
  docs/conf.py
  noxfile.py
  pyproject.toml
  requirements-lint.txt
  src/protosym/core/atom.py
  src/protosym/core/differentiate.py
  src/protosym/core/evaluate.py
  src/protosym/core/sym.py
  src/protosym/core/tree.py
  src/protosym/simplecas/__init__.py
  src/protosym/simplecas/expr.py
  src/protosym/simplecas/functions.py
  src/protosym/simplecas/lambdification.py
  src/protosym/simplecas/matrix.py
  src/protosym/simplecas/sympy_conversions.py
  tests/core/test_atom.py
  tests/core/test_differentiate.py
  tests/core/test_evaluate.py
  tests/core/test_sym.py
  tests/core/test_tree.py
  tests/test_simplecas.py
  tests/utils.py
Due: ruff, black, check-toml

lint: add some moreruff rules
  pyproject.toml
Due: check-toml

remove darglint
  .darglint
  pyproject.toml
  requirements-lint.txt
Due: check-toml

fix license file
  LICENSE.rst
Due: none

Use hatch in quicktest.sh
  LICENSE.rst
  checks.sh
  quicktest.sh
Due: none

Don't use nox for CI checks
  .github/workflows/tests.yml
Due: check-yaml

Remove Python 3.12 from testmatrix because of llvmlite
  .github/workflows/tests.yml
Due: check-yaml

Fix GE yaml syntax
  .github/workflows/tests.yml
Due: check-yaml

Add .readthdocs.yaml
  .readthedocs.yaml
Due: check-yaml

Remove old readthedocs.yml file
  .readthedocs.yml
Due: check-yaml

Fix readthedocs.yml
  .readthedocs.yaml
Due: check-yaml

Fix licence name
  pyproject.toml
Due: check-toml

Bump version to 0.0.4
  VERSION.txt
Due: none

Add classifier for BSD license
  pyproject.toml
Due: check-toml

Upload coverage data
  .github/workflows/tests.yml
Due: check-yaml

Bump version to 0.0.5
  VERSION.txt
Due: none

Fix path to coverage file
  .github/workflows/tests.yml
Due: check-yaml

Fix GA syntax in workflow file
  .github/workflows/tests.yml
Due: check-yaml

Remove unused if condition in GA workflow
  .github/workflows/tests.yml
Due: check-yaml

docs: remove old requirements.txt
  docs/requirements.txt
Due: none

reformat due to black changes
  benchmarks/test_differentiation.py
  docs/conf.py
  noxfile.py
  src/protosym/__main__.py
  src/protosym/core/atom.py
  src/protosym/core/differentiate.py
  src/protosym/core/evaluate.py
  src/protosym/core/sym.py
  src/protosym/core/tree.py
  src/protosym/simplecas/__init__.py
  src/protosym/simplecas/exceptions.py
  src/protosym/simplecas/expr.py
  src/protosym/simplecas/functions.py
  src/protosym/simplecas/lambdification.py
  src/protosym/simplecas/matrix.py
  src/protosym/simplecas/sympy_conversions.py
  tests/core/test_sym.py
  tests/test_main.py
Due: ruff, black

Update upload-artifact
  .github/workflows/tests.yml
Due: check-yaml

Remove actions update workflow
  .github/workflows/actionsupdate.yml
Due: check-yaml

Build docs and test Python 3.12 and 3.13
  .github/workflows/tests.yml
  checks.sh
Due: check-yaml

Remove 3.13-dev from CI checks
  .github/workflows/tests.yml
Due: check-yaml

maint: Use trusted publishing for pushinng to PyPI
  .github/workflows/release.yml
Due: check-yaml

Change URL to test.pypi.org
  .github/workflows/release.yml
Due: check-yaml

Remember to dowload the artifacts
  .github/workflows/release.yml
Due: check-yaml

Fix warnings in release.yml
  .github/workflows/release.yml
Due: check-yaml

Set directory for dowloaded artifacts
  .github/workflows/release.yml
Due: check-yaml

Use seprate environments for test-pypi and pypi
  .github/workflows/release.yml
Due: check-yaml

Fix job title
  .github/workflows/release.yml
Due: check-yaml

Bump version to 0.0.6
  VERSION.txt
Due: none

added mailing list for communication
  README.rst
Due: none

Make version pins looser
  .github/workflows/updater.yml
Due: check-yaml

Use ruff instead of blck for formatting
  .pre-commit-config.yaml
  benchmarks/test_differentiation.py
  pyproject.toml
  src/protosym/simplecas/functions.py
  tests/core/test_evaluate.py
  tests/core/test_sym.py
  tests/core/test_tree.py
  tests/test_simplecas.py
  tests/utils.py
Due: ruff, black, check-toml, check-yaml

Fix syntax in format string
  src/protosym/simplecas/functions.py
Due: ruff, black

Don't use \ in f-string
  src/protosym/simplecas/functions.py
Due: ruff, black

Use pyright for type-checking
  checks.sh
  quicktest.sh
  src/protosym/core/sym.py
  tests/core/test_sym.py
Due: ruff, black

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
